attrs==22.1.0
certifi==2022.12.7
chardet==4.0.0
charset-normalizer==2.1.1
idna==3.4
jsonpatch==1.32
jsonpointer==2.3
jsonschema==4.16.0
openapi-schema-validator==0.2.3
openapi-spec-validator==0.4.0
prance==0.21.8.0
pyrsistent==0.18.1
PyYAML==6.0
requests==2.28.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
semver==2.13.0
six==1.16.0
urllib3==1.26.12
